body {
  margin: 0;
  background-color: aliceblue;
}
select, input {
  padding: 0;
  margin: 0;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formGridContainer {
  max-width: 768px;
  width: 100%;
  min-height: 50vh;
  border: solid black 1px;
  padding: 2rem 3rem;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background-color: #fff;
}

.formGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "namelabel name" "locationlabel location" "buttons buttons";
  row-gap: 2.5rem;
  column-gap: .5rem;
  align-items: center;
}
.formGrid > .formlabel {
  text-align: right;
}
.formGrid :is(input, select) {
  line-height: 1.2rem;
  padding: .5rem;
}

.primaryBtn {
  background-color: rgba(0, 103, 184, .9);
  border-radius: 2px;
  color: #fff;
  padding: .5rem;
  text-align: center;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.primaryBtn:hover {
  background-color: rgba(0, 103, 184, 1);
}
.secondaryBtn {
  background-color: rgba(0, 0, 0, .15);
  color: #000;
  border-radius: 2px;
  padding: .5rem;
  text-align: center;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.secondaryBtn:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 1px black;
}

.buttonsContainer {
  grid-area: buttons;
  justify-self: flex-end;
  gap: 1rem;
}
.marginRightXL {
  margin-right: 2rem;
}
.userTable {
  width: 100%;
  margin: 1rem;
  border: solid black 1px;
}
.userTable thead {
  background-color: #f4fafd;
}
.userTable :is(th, td) {
  padding: 5px;
  text-align: left;
}
.userTable td:not(:last-child) {
  border-right: solid black 1px;
}
.userTable th:not(:last-child) {
  border-right: solid black 1px;
}
.userTable tbody tr:nth-child(odd) {
  background-color: beige;
}
.userTable tbody tr:nth-child(even) {
  background-color: #fff;
}

.textAlignCenter {
  text-align: center;
}
td.emptyTableMsg {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  height: 10rem;
  border-top: solid 1px black;
}
.flexContainer {
  display: flex;
  flex-direction: column;
}
.posRelative {
  position: relative;
}

.usernameMsg {
  position: absolute;
  top: 45px;
}
.usernameAvailable {
  color: green;
  font-weight: bold;
}
.usernameNotAvailable {
  color: #F35324;
  font-weight: bold;
}
